.about-wrapper {
    text-indent: 2rem;
    width: 75%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 0 1px;
    padding: 2rem 4rem 0 4rem;
    background: rgba(255, 255, 255, 0.07);
}
.about-paragraph {
    padding: 1rem;
    color: #FFF;
    font-size: 14px;
}
.self-portrait {
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.guitar-photo {
    margin-right: 2.5rem;
}
@media only screen and (max-width: 1300px) {
    .about-paragraph {
        font-size: 12px;
    }
  }
@media only screen and (max-width: 1100px) {
    .about-paragraph {
        font-size: 10px;
    }
  }