.wrapper-full {
  display: flex;
  width: 100%;
}
.name {
  font-family: "Abril Fatface", cursive;
  font-size: 100px;
  margin: auto;
  padding: 3rem 3rem 0 0;
  color: #fff;
  text-shadow: -14px 13px 16px rgb(0, 0, 0, 0.5);
}
.title {
  font-family: "Lato", sans-serif;
  letter-spacing: 7px;
  font-size: 20px;
  margin: auto;
  padding: 0 4rem 0 0;
  color: #ebebeb;
  text-shadow: -14px 13px 16px rgb(0, 0, 0, 0.5);
}
