.offcanvas {
  background: #000;
  color: #fff;
}
.hamburger {
  color: #fff;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.hamburger:hover {
  color: rgba(255, 255, 255, 0.804);
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.offcanvas-body {
  text-align: center;
}
.offcanvas-width {
  background: rgb(31, 46, 48);
  max-width: 250px;
  width: 250px;
}
.offcanvas-menu-item {
  color: #fff;
  padding: 5px 0;
  cursor: pointer;
  text-decoration: none;
}
.offcanvas-menu-item:hover {
  color: rgba(255, 255, 255, 0.804);
  padding: 5px 0;
  cursor: pointer;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.168);
}
.offcanvas-menu-link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.offcanvas-menu-link:hover {
  color: rgba(255, 255, 255, 0.804);
  cursor: pointer;
  text-decoration: none;
}

